In [1]:
teacher_name = "Muhammad Qasim"
# teacher_name = 'Muhammad Qasim'
# teacher_name = """Muhammad Qasim"""
# teacher_name = '''Muhammad Qasim'''
print(teacher_name)
print(type(teacher_name))
print(id(teacher_name))

Muhammad Qasim
<class 'str'>
2323793680048

In [2]:
num1 = 10
num2 = 5
print(num1 + num2)

15

In [3]:
num1 = 10.2
num2 = 5
print(num1 + num2)

15.2

In [4]:
# Floor division
num1 = 14
num2 = 5
print(num1 // num2)

2

In [5]:
a = 5
print(a)
a += 3
print(a)

5
8

# String Concatination
### (String Formation)

In [7]:
var = """
SAM  SAM    SAM
SAM   SAM   SAM
"""
print(var)

SAM  SAM    SAM
SAM   SAM   SAM

In [12]:
name = "Hamza Ahmed Ansari"
f_name = "Shakeel Ahmed Ansari" 
r_no = "AI-40591"
timing = "9 to 12"
batch = 3
age = 22

student_card = f"""
___________________________________________
            Saylani Walfare Trust
___________________________________________

 Artificial Intelligence and Data Science
 -----------------------------------------
Name: {name}
-----
Father's Name: {f_name}
--------------
Roll number: {r_no}
------------
Batch: {batch}
------
timings: {timing}
--------
Age: {age}
----
"""
print(student_card)

___________________________________________
            Saylani Walfare Trust
___________________________________________

 Artificial Intelligence and Data Science
 -----------------------------------------
Name: Hamza Ahmed Ansari
-----
Father's Name: Shakeel Ahmed Ansari
--------------
Roll number: AI-40591
------------
Batch: 3
------
timings: 9 to 12
--------
Age: 22
----

In [13]:
s1 = 70
s2 = 65
s3 = 78
s4 = 68
f'''Total Marks Obtained = {s1 + s2 + s3 + s4}'''

'Total Marks Obtained = 281'

In [14]:
a1 = "Hamza"
a2 = "Hamza Ansari"
a1 == a2

False

In [16]:
p1 = """
We are learning AI in Saylani
"""
"Saylani" in p1

True

In [17]:
p1 = """
We are learning AI in Saylani
"""
"Saylani" not in p1

False

In [20]:
b1 = "Hamza"
b2 = "Hamza"
b1 is b2

True