# Nested list, Tuple, Set & Dictionary

In [2]:
# Nested list
data = [["1", "Hamza", "AI"],
        ["2", "Sami", "Numpy"],
        ["3", "Noman", "Pandas"]]
print(data[1][1])

Sami

In [6]:
#Tupple
names = ("Hamza","Qasim","Sami")
print(names[0])
print(names[:2])

Hamza
('Hamza', 'Qasim')

In [7]:
# Set
names = {"Hamza", "Qasim", "Sami", "Asif", "Hamza", "Qasim"}
names

{'Asif', 'Hamza', 'Qasim', 'Sami'}

In [9]:
set(['a','b','c','a','a'])

{'a', 'b', 'c'}

In [14]:
# Dictionary
data = {
    "Name":"Hamza",
    "f_name":"Shakeel",
    "Course":"AI",
    "Timing":"9 pm to 12 pm"
}
data

{'Name': 'Hamza',
 'f_name': 'Shakeel',
 'Course': 'AI',
 'Timing': '9 pm to 12 pm'}

In [17]:
print(data["Name"])
print(data["Course"])

Hamza
AI

# Tupple Methods

In [19]:
names = ('a','b','c','a')
print(names)
print(names.count("a"))
print(names.index("c"))

('a', 'b', 'c', 'a')
2
2

In [25]:
a = {'a','b','c','a'}
print(a)
a.add("f")
print(a)
b = a.difference(['a','c','d'])
print(b)
c = a.intersection(['a','d'])
print(c)

{'b', 'a', 'c'}
{'b', 'a', 'c', 'f'}
{'f', 'b'}
{'a'}

In [32]:
a = {'a','b','c','a'}
print(a)
b = a.pop()
print(b)

{'b', 'a', 'c'}
b

In [34]:
# Dictionary
data = {
    "Name":"Hamza",
    "f_name":"Shakeel",
    "Course":"AI",
    "Timing":"9 pm to 12 pm"
}
print(data["Timing"])
print(data.keys())
print(data.values())
print(data.items())

9 pm to 12 pm
dict_keys(['Name', 'f_name', 'Course', 'Timing'])
dict_values(['Hamza', 'Shakeel', 'AI', '9 pm to 12 pm'])
dict_items([('Name', 'Hamza'), ('f_name', 'Shakeel'), ('Course', 'AI'), ('Timing', '9 pm to 12 pm')])

In [38]:
data = {
    "Name":"Hamza",
    "f_name":"Shakeel",
    "Course":"AI",
    "Timing":"9 pm to 12 pm"
}
data1 = data.copy()
data1["Name"] = "Sami"
print(data)
print(data1)

{'Name': 'Hamza', 'f_name': 'Shakeel', 'Course': 'AI', 'Timing': '9 pm to 12 pm'}
{'Name': 'Sami', 'f_name': 'Shakeel', 'Course': 'AI', 'Timing': '9 pm to 12 pm'}

In [41]:
data.get("Name")
data.get("address", "Not Available")

'Not Available'

In [42]:
data = {}
data["Name"]="Hamza"
data["f_name"]="Shakeel"
data["Course"]="AI"
data["Timing"]="9 pm to 12 pm"
print(data)

{'Name': 'Hamza', 'f_name': 'Shakeel', 'Course': 'AI', 'Timing': '9 pm to 12 pm'}